<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/cryptoData.scss" type="text/css">
    <link rel="stylesheet" href="/cryptoData.css">
    <title>Crypt.Op</title>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-sm">
           <a href="#" class="navbar-brand">Crypt.Op</a>
           <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
               <span class="navbar-toggler-icon"></span>
           </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item active-link">
                        <a href="/auth/user_login/home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/userProfile" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/logOut" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="page">
        <div class="container">
            <div class="coinData">
                    <h2 class="font-weight-bold text-center mt-2">{{$coinName}}</h2>
                    <h4 class="text-center mt-4">Price:</h4>
                <div class="priceBox">
                    <h3 class="cryptoPrice text-center font-weight-bold" id="priceConvert">$ {{price}}</h3>
                    <button class="btn btn-sm" id="convertBtn">Price in INR</button>
                </div>
                 <p class="text-center"><small class="text-danger" id="notice"></small></p>
                 <div class="watch-list">
                    <form action="/auth/watchList" class="form-group" method="POST">
                        <input type="submit" value="Add to watchlist" class="btn" id="watchlistBtn">
                    </form> 
                    <p class="text-center text-danger" id="watchListNotice"></p>
                </div>
                <div class="resources">
                    <h4 class="text-center mt-3">Resources:</h4>
                    <div class="resource-links">
                        <a href="{{whitePaperLink}}">Whitepaper<i class="fas fa-external-link-alt ml-1"></i></a>
                        <a href="{{sourceCodeLink}}">Source code<i class="fas fa-external-link-alt ml-1"></i></a>
                        <a href="{{forumLink}}">Forum<i class="fas fa-external-link-alt ml-1"></i></a>
                    </div>
                </div>
            </div>
            <div class="chart">
                    <canvas id="myChart" ></canvas>
            </div>
            <div class="content content1">
                <h4 class="text-center">Percent Change:</h4>
                <div class="percentStats">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Last 1 Hour(%)</th>
                            <th scope="col" class="text-center">Last 24 Hour(%)</th>
                            <th scope="col" class="text-center">Last 1 Week(%)</th>
                        </tr>
                        <tbody>
                            <tr>
                                <td scope="row" class="percentData">{{$1h_percent}}</td>
                                <td class="percentData">{{$24h_percent}}</td>
                                <td class="percentData">{{$7d_percent}}</td>
                            </tr>
                        </tbody>
                    </thead>
                </table>
                </div>
            </div>
            <div class="content content2">
                <div class="volumeStats">
                    <h4 class="text-center">Market stats:</h4>
                    <div class="volumeStatsTable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Market Cap</th>
                                <th scope="col" class="text-center">Volume (24h)</th>
                                <th scope="col" class="text-center">Volume/Market Cap</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row" class="marketCapData text-center" id="marketConvert">$ {{marketCap}}</td>
                                <td class="marketCapData text-center">$ {{marketVolume}}</td>
                                <td class="text-center marketCapData">{{marketVolumeRatio}}</td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
                {{!-- <div class="watch-list">
                    <form action="/auth/watchList" class="form-group" method="POST">
                        <input type="submit" value="Add to watchlist" class="btn" id="watchlistBtn">
                    </form> 
                    <p class="text-center text-danger" id="watchListNotice">{{message}}</p>
                </div>
                <div class="resources">
                    <h4 class="text-center mt-3">Resources:</h4>
                    <div class="resource-links">
                        <a href="{{whitePaperLink}}">Whitepaper<i class="fas fa-external-link-alt ml-1"></i></a>
                        <a href="{{sourceCodeLink}}">Source code<i class="fas fa-external-link-alt ml-1"></i></a>
                        <a href="{{forumLink}}">Forum<i class="fas fa-external-link-alt ml-1"></i></a>
                    </div>
                </div> --}}
            </div>
        </div>
    </div>
    <script src="/cryptoData.js"></script>
    
    {{!-- bootstrap js cdn starts --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{!-- jquery cdn for bootstrap ends --}}
</body>
</html>