<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/userProfile.scss" type="text/css">
    <link rel="stylesheet" href="/userProfile.css">
    <title>Your Profile</title>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-sm">
           <a href="#" class="navbar-brand">Crypt.Op</a>
           <button class="navbar-toggler" data-toggle="collapse" data-target="#navMenu">
               <span class="navbar-toggler-icon"></span>
           </button>
            <div class="collapse navbar-collapse" id="navMenu">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item active-link">
                        <a href="/auth/user_login/home" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/userProfile" class="nav-link">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a href="/auth/logOut" class="nav-link">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="main">
        <div class="container">
            <div class="profile" id="userProfile">
                <div class="user-icon">
                    <i class="fa fa-user fa-7x"></i>
                </div>
                <div class="username" id="userName">
                    <h4 class="text-center">{{firstname}} {{lastname}}</h4>
                </div>
            </div>
            <div class="profile-data" id="profileData">
                <h3 class="text-center font-weight-bold mt-2">Your Profile</h3>
                <div class="user-info">
                    <table>
                        <tr>
                            <td>Name:</td>
                            <td class="form-control">{{firstname}} {{lastname}}</td>
                        </tr>
                        <tr>
                            <td>Email:</td>
                            <td class="form-control">{{emailId}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="portfolio-data" id="portfolioData">
                <h3 class="text-center font-weight-bold mt-2">Your Watchlist</h3> 
                <ul class="list-group">
                    
                    {{#each items as |item|}}
                    <li class="list-group-item text-center"><a href={{item.coins}}>{{item.coin_name}}</a></li>
                    {{/each}}

                </ul>
            </div>
        </div>
    </div>



    {{!-- jquery cdn for bootstrap starts --}}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {{!-- jquery cdn for bootstrap ends --}}
</body>
</html>